<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calls.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
    <userSettings>
        <Calls.My.MySettings>
            <setting name="db_servidor" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="db_username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="db_password" serializeAs="String">
                <value />
            </setting>
            <setting name="db_nameDB" serializeAs="String">
                <value>caller_me</value>
            </setting>
            <setting name="db_puerto" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="login_username" serializeAs="String">
                <value />
            </setting>
            <setting name="login_password" serializeAs="String">
                <value />
            </setting>
            <setting name="data_url" serializeAs="String">
                <value>C:\Caller Enterprise Data</value>
            </setting>
        </Calls.My.MySettings>
    </userSettings>
</configuration>