<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Calls.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <Calls.My.MySettings>
      <setting name="db_servidor" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="db_username" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="db_password" serializeAs="String">
        <value />
      </setting>
      <setting name="db_nameDB" serializeAs="String">
        <value>caller_me</value>
      </setting>
      <setting name="db_puerto" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="login_username" serializeAs="String">
        <value />
      </setting>
      <setting name="login_password" serializeAs="String">
        <value />
      </setting>
      <setting name="data_url" serializeAs="String">
        <value>C:\Caller Enterprise Data</value>
      </setting>
      <setting name="datagridview_height" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="datagridview_color" serializeAs="String">
        <value>SteelBlue</value>
      </setting>
      <setting name="datagridview_selectrow" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="datagridview_font" serializeAs="String">
        <value>Microsoft Sans Serif, 9pt</value>
      </setting>
      <setting name="report_image" serializeAs="String">
        <value>C:\Caller Enterprise Data\logo.jpg</value>
      </setting>
      <setting name="caller_luz" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timer_intervalo" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="font_alertas" serializeAs="String">
        <value>Microsoft Sans Serif, 9.75pt, style=Bold</value>
      </setting>
      <setting name="caller_0" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="caller_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="caller_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="caller_3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="caller_0_number" serializeAs="String">
        <value>Caller 1</value>
      </setting>
      <setting name="caller_1_number" serializeAs="String">
        <value>Caller 2</value>
      </setting>
      <setting name="caller_2_number" serializeAs="String">
        <value>Caller 3</value>
      </setting>
      <setting name="caller_3_number" serializeAs="String">
        <value>Caller 4</value>
      </setting>
      <setting name="pg_id" serializeAs="String">
        <value>01800</value>
      </setting>
      <setting name="valid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ws_gps" serializeAs="String">
        <value>http://13.92.173.204/tracking-es/api/list.php?authtoken=379012a61423089657ce6c1649d30c4c5b99d55a</value>
      </setting>
      <setting name="use_gps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="omitir_colgar" serializeAs="String">
        <value>False</value>
      </setting>
    </Calls.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GMap.NET.Core" publicKeyToken="b85b9027b614afef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.5.0" newVersion="1.7.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>